@import "./custom.css.scss";

#wrapper {
    margin-top: 70px;
}

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body,h1,h2,h3,h4{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

