#profile {
  padding-top: 2rem;
}

.caption {
  margin-bottom: 2rem;
}

.delimiter {
  background-image: url('/images/navbar_border.svg');
  background-repeat: repeat-x;
  overflow: hidden;
  width: 100%;
  height: 20px;
  margin: 3rem 0;
}

.delimiter-01 {
  background-position: -60vw 0%;
}

.delimiter-02 {
  background-position: 30vw 0%;
}

.delimiter-03 {
  background-position: 60vw 0%;
}

.delimiter-04 {
  background-position: 40vw 0%;
}

.nav-vertical-border {
  width: 15px;
  height: 50px;
}

.nav-vertical-border-01 {
  background-image: url('/images/vertical_border_01.svg');
}

.nav-vertical-border-02 {
  background-image: url('/images/vertical_border_02.svg');
}

.nav-vertical-border-03 {
  background-image: url('/images/vertical_border_03.svg');
}

.nav-vertical-border-04 {
  background-image: url('/images/vertical_border_04.svg');
}

.navbar-right {
  float: right;
}

.a {
}

a {
  color: #4C6162;
  text-decoration: underline;
}

a:hover {
  color: #77869D;
  background: none !important;
}

a.brace:hover:before {
  content: "{";
  color: #77869D;
}

a.brace:hover:after {
  content: "}";
  color: #77869D;
}

.id-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline;
}

.id-icon-twitter {
  background-image: url('https://dl.dropboxusercontent.com/u/3483627/assets/twitter.svg');
}

table.table.table-thin {
  margin: 10px 0;

  thead {
    tr {
      th, td {
        border-bottom: 1px dotted #4C6162;
        font-weight: 100;
      }
    }
  }

  tbody {
    td {
      border: 1px dotted #4C6162;
      font-weight: 100;
    }
  }
}
