.navbar.navbar-fixed-top
  .container-fluid
    %ul.nav.nav-pills.navbar-right
      %li
        = link_to 'about', '/'
      %li.nav-vertical-border.nav-vertical-border-01
      %li
        = link_to 'id', '/id/'
      %li.nav-vertical-border.nav-vertical-border-02
      %li
        = link_to 'blog', 'https://medium.com/@ayemos'
  .container-full
    .row
      .col-lg-12
        .delimiter.delimiter-01
