---
pageable: true
per_page: 10
---

.container#profile
  .row
    .col-lg-12
      .text-center
        %h3
          Yuichiro Someya [Tokyo, Japan]
        %p
          Machine Learning Engineer at Cookpad Inc. (
          %a{href: 'https://cookpad.com/'} JP
          \/
          %a{href: 'https://cookpad.com/us'} US )
.container-full
  .row
    .col-lg-12
      .delimiter.delimiter-03
.container
  .row
    .text-center
      .col-xs-4.text-right
        %p
          2016 Apr. 1st
      .col-xs-8.text-left
        %p
          Cookpad Inc.
      .col-xs-4.text-right
        %p
          2014 Apr. 1st
      .col-xs-8.text-left
        %p
          Internship at Cosylab @ Slovenia
      .col-xs-4.text-right
        %p
          2013 Apr. 1st
      .col-xs-8.text-left
        %p
          Graduated School of Computer Science
        %p
          Tokyo Institute of Technology
      .col-xs-4.text-right
        %p
          2009 Apr. 1st
      .col-xs-8.text-left
        %p
          Tokyo Institute of Technology
      .col-xs-4.text-right
        %p
          1990 Nov. 21th
      .col-xs-8.text-left
        %p
          Born.

