---
pageable: true
per_page: 10
---

.container
  .text-center
    %h3
      Yuichiro Someya [Tokyo, Japan]
    %p
      Machine Learning Engineer at Cookpad Inc. (
      %a{href: 'https://cookpad.com/'} JP
      \/
      %a{href: 'https://cookpad.com/us'} US )
