---
---

.container
  .row
    .text-center
      .col-xs-4.text-right
        %p
          Apr. 2016
      .col-xs-8.text-left
        %p
          4,500,000 JPY
      .col-xs-4.text-right
        %p
          Apr. 2017
      .col-xs-8.text-left
        %p
          5,604,000 JPY
      .col-xs-4.text-right
        %p
          Apr. 2018
      .col-xs-8.text-left
        %p
          6,480,000 JPY
      .col-xs-4.text-right
        %p
          Aug. 2018
      .col-xs-8.text-left
        %p
          7,002,000 JPY
      .col-xs-4.text-right
        %p
          Aug. 2019
      .col-xs-8.text-left
        %p
          8,001,000 JPY
