---
---


.media-container
  .h3.mt-3
    salary history
  %table
    %tbody
      %tr
        %th
          Date from
        %th
          Full-time salary (JPY)
        %th
          Others (JPY)
      %tr
        %td
          Apr. 2016
        %td
          4,500,000
        %td
          -
      %tr
        %td
          Feb. 2017
        %td
          5,604,000
        %td
          -
      %tr
        %td
          Feb. 2018
        %td
          6,480,000
        %td
          730,796
      %tr
        %td
          Aug. 2018
        %td
          7,002,000
        %td
          502,299
      %tr
        %td
          Feb. 2019
        %td
          8,001,000
        %td
          339,777
      %tr
        %td
          Apr. 2019
        %td
          3,000,000
        %td
          11,914,776
