---
---

.container
  .row
    .text-center
      .col-xs-4.text-right
        %p
          2016
      .col-xs-8.text-left
        %p
          4,500,000 JPY
      .col-xs-4.text-right
        %p
          2017
      .col-xs-8.text-left
        %p
          5,604,000 JPY
