---
---

.container
  .col-lg-4.col-md-6.col-xs-12
    %table.table.table-thin
      %tbody
        %tr
          %td
            2016
          %td
            4,500,000 JPY
        %tr
          %td
            2017
          %td
            5,604,000 JPY

