---
---

= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'

.media-container
  .h3.mt-3
    salary history
  %table
    %tbody
      %tr
        %th
          Date from
        %th
          Full-time salary (JPY)
        %th
          Others (JPY)
      %tr
        %td
          Apr. 2016
        %td
          4,500,000
        %td
          -
      %tr
        %td
          Feb. 2017
        %td
          5,604,000
        %td
          -
      %tr
        %td
          Feb. 2018
        %td
          6,480,000
        %td
          730,796
      %tr
        %td
          Aug. 2018
        %td
          7,002,000
        %td
          502,299
      %tr
        %td
          Feb. 2019
        %td
          8,001,000
        %td
          339,777
      %tr
        %td
          Apr. 2019
        %td
          3,000,000
        %td
          11,914,776
      %tr
        %td
          Jan. 2020
        %td
          3,000,000
        %td
          16,040,245
  %canvas#chart.mt-3

:javascript
  document.addEventListener("DOMContentLoaded", function(event) {
    console.log(document.getElementById('chart'));
    var ctx = document.getElementById('chart').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [
          {
            label: 'Fulltime',
            data: [
              {
                x: '2016-04-01',
                y: 4500000,
              },
              {
                x: '2017-02-01',
                y: 5604000,
              },
              {
                x: '2018-02-01',
                y: 6480000,
              },
              {
                x: '2018-08-01',
                y: 7002000,
              },
              {
                x: '2019-02-01',
                y: 8001000,
              },
              {
                x: '2019-04-01',
                y: 3000000,
              },
              {
                x: '2020-01-01',
                y: 3000000,
              }
            ],
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 1,
            lineTension: 0
          },
          {
            label: 'Others',
            data: [
              {
                x: '2016-04-01',
                y: 0,
              },
              {
                x: '2017-02-01',
                y: 0,
              },
              {
                x: '2018-02-01',
                y: 730796,
              },
              {
                x: '2018-08-01',
                y: 502299,
              },
              {
                x: '2019-02-01',
                y: 339777,
              },
              {
                x: '2019-04-01',
                y: 11914776,
              },
              {
                x: '2020-01-01',
                y: 16160235,
              }
            ],
            backgroundColor: 'rgb(54, 162, 235)',
            borderColor: 'rgb(54, 162, 235)',
            borderWidth: 1,
            lineTension: 0
          }
        ]
      },
      options: {
        responsive: true,
        scales: {
          yAxes: [{
            stacked: true,
            display: true,
            scaleLabel: {
              display: true,
              labelString: '￥'
            }
          }],
          xAxes: [{
            stacked: true,
            type: 'time',
            display: true,
            scaleLabel: {
              display: true
            },
            ticks: {
              major: {
                fontStyle: 'bold',
                fontColor: '#FF0000'
              }
            }
          }]
        }
      }
    });
  });
