---
---

.container
  .row
    .col-lg-2.col-sm-6.col-xs-12
      %table.table.table-thin
        %tbody
          %tr
            %td
              2016
            %td
              450
          %tr
            %td
              2017
            %td
              560
